* {
    box-sizing: border-box;
}
ion-icon{
    font-size: 20px;
    cursor: pointer;
}
ion-icon:hover{
    filter: contrast(30%); 
}

.cursor, img, .seguir, strong{
    cursor: pointer;
}

strong:hover{
    text-decoration: underline;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.fontsize14px{
    font-size: 14px;
}
.fontsize12px{
    font-size: 12px;
}
.fontcinza{
    color: #8e8e8e;
}
.seguir{
    font-size: 12px;
    color: #139EF2;
}
/* conteudo do topo */

.barra-topo{
    position: fixed;
    height: 54px;
    width: 100%;
    top: 0;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.items-topo{
    width: 942px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}

.logo-topo div{
    background: #DBDBDB;
    width: 1px;
    height: 22px;
}

.logo-topo{
    width: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-topo img{
    margin-top: 5px;
    width: 69%;
}

.icones-topo{
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    border-radius: 3px;
    width: 23%;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    text-align: center;
    box-sizing: border-box;
    color: #8E8E8E;
    font-size: 12px;
}

/* conteudo abaixo da barra do topo */

.conteudo{
    width: 942px;
    margin: 88px auto 0 auto;
    display: flex;
}

/* barra lateral */

.barra-lateral{
    width: 300px;
    height: 438px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: calc(50vw - 480px);
}

/* barra lateral topo */
.barra-lateral-topo{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.barra-lateral-topo div{
    margin-left: 17px;
}

/* sugestoes texto topo */
.barra-lateral > div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.barra-lateral-inferior{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sugestoes-seguir{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.sugestoes-seguir div:first-of-type{
    width: 74%;
}
.sobre{
    font-size: 11px;
    color: #b9b9b9;
    line-height: 13px;
}

/* conteudo principal > stories e rolagem */

.conteudo-principal{
    width: 614px;
}

/* stories  falta arrumar!! stories*/
.stories{
    width: 100%;   /* 65% */
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    overflow: hidden;
}
.seta-container{
    position: relative;
    display: flex;
    align-items: center;
}
.seta-stories{
    position: absolute;
    font-size: 32px;
    opacity: 0.8;
    right: 1%;
}
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 12px;
}
.story img{
    margin-bottom: 3px;
    width: 66px;
    padding: 5px;
    background-image: url("../imgs/stories_background_used.png");
    background-size: contain;
}

/* feed rolagem */

.stories, .conteudo-feed{
    background: #FFFFFF;
}
.conteudo-feed{
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin: 24px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5% 2%;
}

.titulo-feed div{
    display: flex;
    align-items: center;
}

.titulo-feed img{
    margin-right: 10px;
}

.icones-feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 2%;
}

.icones-feed div{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.curtidasfeed{
    display: flex;
    align-items: center;
    height: 30px;
}

.curtidasfeed img {
    margin: 0 2%;
    margin-bottom: 6px;
}


/* mobile */

.barraMobile-inferior{
    display: none;
}
.logo-mobile{
    display: none;
}

/* comentar feed */

.comentarios{
    display: flex;
    justify-content: space-between;
    margin: 2px 2%;
}
.comentarios ion-icon:hover{
    transition: 300ms;
    color: red;
}
.comentar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #DBDBDB;
}
.comentar button{
    background: none;
    border: none;
    outline: none;
    color: #B2DFFC;
    margin: 1%;
}
.comentar button:hover{
    transition: 300ms;
    color: #0095F6;
}
.comentar input{
    width: 80%;
    color: black;
    border: none;
    outline: none;
    background: none;
    text-align: left;
    border-radius: 20px;
    padding-left: 4%;
    margin: 2%;
}

@media (max-width: 935px){

    .barra-lateral{
        display: none;
    }
    .conteudo{
        width: 65%;
    }
    .logo-topo{
        margin-left: 1%;
    }
    .conteudo-principal{
        width: 100%;
    }
}

@media (max-width: 614px){
    .stories{
        background: transparent;
        border: none;
    }
    .conteudo{
        width: 100%;
        margin-top: 64px;
        margin-bottom: 20px;
    }
    .barraMobile-inferior{
        position: fixed;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        display: flex;
        width: 100%;
        align-items: center;
        height: 60px;
        justify-content: space-around;
    }
    .barraMobile-inferior > *{
        font-size: 30px;
    }
    .barra-topo input, .logo-topo, .icones-topo ion-icon:nth-child(2n), .icones-topo ion-icon:nth-child(3){
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .icones-topo{
        width: 5%;
    }
    .items-topo{
        justify-content: space-between;
        margin: 0 2%;
    }
    .arrowstories{
        display: none;
    }
}